# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Virtual environment folder
venv/
env/

# SQLite database file
Expense Tracker.db
*.sqlite3

# IDE/editor folders
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db